<h1>Ficha Médica de <%= @dog.nombre %></h1>


<% if @dog.vacuna.all.empty?%>
  <h2>No hay informacion de ninguna vacuna en <%= @dog.nombre %></h2>
<%else%>
<%= label_tag 'vacuna_label', 'Vacuna:', style: 'font-size: 30px;' %>
<br>
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaVacunas" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
            <% @dog.vacuna.each do |v| %>
            <tr id="vacuna_<%= v.id %>" >
                <td><%= v.nombre %></td>
                <td><%= v.fecha %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%end%>

<br>
<br>
<br>

<% if @dog.chequeo.all.empty?%>
  <h2>No hay informacion de ningun chequeo en <%= @dog.nombre %></h2>
<%else%>
<%= label_tag 'chequeo_label', 'Chequeo:', style: 'font-size: 30px;' %>
<br>
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaChequeos" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Descripcion</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
            <% @dog.chequeo.all.each do |c| %>
            <tr id="Chequeo_<%= c.id %>" >
                <td><%= c.descripcion %></td>
                <td><%= c.fecha %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%end%>

<div>
  <%= link_to "Volver", "/profiles/index" %>
</div>