<%= form_with(model: vacuna) do |form| %>
  <% if vacuna.errors.any? %>
    <div style="color: red">
      <ul>
        <% vacuna.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div>
    <%= form.label :dog_id, "Perro" %>
    <%= form.collection_select(:dog_id, current_user.dog.all, :id, :nombre, prompt: "Selecciona un perro") %>
  </div>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>
  
  <div>
    <%= form.submit "Cargar vacuna" %>
  </div>
<% end %>
